<div class="sidenav-content">
    <div class="sidenav-buttons">
        <a routerLink="/home">
            <img src="/assets/icons/icon-72x72.png" alt="Seda App">
        </a>
        <a mat-button color="accent" routerLink="/home">
            <mat-icon aria-hidden="false" aria-label="home icon" fontIcon="home"></mat-icon>
            <span>Home</span>
        </a>
        <a mat-button color="accent" [routerLink]="['quiz']">
            <mat-icon aria-hidden="false" aria-label="quiz icon" fontIcon="quiz"></mat-icon>
            <span>Quiz</span>
        </a>
        <a mat-button color="accent" [routerLink]="['krankmeldung']">
            <mat-icon aria-hidden="false" aria-label="sick icon" fontIcon="sick"></mat-icon>
            <span>Krankmeldung</span>
        </a>
        <a mat-button color="accent" [routerLink]="['urlaubsantraege']">
            <mat-icon aria-hidden="false" aria-label="post_add icon" fontIcon="post_add"></mat-icon>
            <span>Urlaubsanträge</span>
        </a>
        <a mat-button color="accent" [routerLink]="['kalender']">
            <mat-icon aria-hidden="false" aria-label="calendar_month icon" fontIcon="calendar_month"></mat-icon>
            <span>Kalender</span>
        </a>
    </div>
</div>