<div [@routerTransition] class="category-content">

  <div class="row" [@dataChange]="animationUpdateState" (@dataChange.done)="animationUpdateState = 'done'">
    <div class="col-12">
      <h1>{{category}}</h1>
    </div>
    <div class="col-12">
      <mat-card *ngIf="question">
        <mat-card-content>

          <div class="row" *ngIf="!isQuizEnd">
            <div class="col-12">
              <h2>Frage {{pageIndex}} von {{quizData.questions.length}}</h2>
            </div>
            <div class="col-12 fs-4 mb-4 lh-sm">
              <p>{{question.question}}</p>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-12 col-md-6 mb-4" *ngFor="let option of question.options; let i = index">
                  <button
                    color="primary"
                    [disabled]="isDisabled"
                    class="quiz-button w-100 py-3 fs-4"
                    [ngClass]="{'correct-answer': option.isCorrect && isDisabled}"
                    mat-raised-button
                    (click)="handleSelectedOption($event, option.isCorrect, i)"
                  >{{option.option}}</button>
                </div>
              </div>
            </div>
            <div class="col-12" *ngIf="isDisabled && pageIndex < quizData.questions.length">
              <button class="float-end fs-5" mat-raised-button color="accent" (click)="handlePage()">
                Nächste Frage <mat-icon aria-hidden="false" aria-label="arrow_forward_ios icon" fontIcon="arrow_forward_ios"></mat-icon>
              </button>
            </div>
            <div class="col-12" *ngIf="isDisabled && pageIndex === quizData.questions.length">
              <button class="float-end fs-5" mat-raised-button color="accent" (click)="handlePage(true)">
                Ergebnis anzeigen <mat-icon aria-hidden="false" aria-label="arrow_forward_ios icon" fontIcon="arrow_forward_ios"></mat-icon>
              </button>
            </div>
          </div>

          <div class="row" *ngIf="isQuizEnd">
            <div class="col-12">
              <h2>Frage {{pageIndex}} von {{quizData.questions.length}}</h2>
            </div>
            <div class="col-12 fs-4 mb-4 lh-sm">
              <p>{{correctAnswers}} von {{quizData.questions.length}} Fragen richtig beantwortet.</p>
            </div>
            <div class="col-12 col-md-6 mb-4" *ngFor="let option of history.options; let i = index">
              <!-- <button
                color="primary"
                disabled="true"
                class="quiz-button w-100 py-3 px-2 fs-4"
                [ngClass]="{'correct-answer': option.isCorrect}"
                mat-raised-button
              >{{option.option}}</button> -->

              {{option|json}}
            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
