mat-drawer-container {
    height: 100vh;
}

.main {
    position: relative;
    height: 100%;
}

.main-content {
    padding: 3rem;
}

#drawer-toggler {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(30%, 40%);
}

@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}