<mat-drawer-container autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <sidenav></sidenav>
  </mat-drawer>

  <div class="main">
    <header></header>

    <button class="white" id="drawer-toggler" type="button" mat-button (click)="drawer.toggle(); drawerToggled = !drawerToggled">
      <mat-icon aria-hidden="false" *ngIf="!drawerToggled" aria-label="arrow_back_ios icon" fontIcon="arrow_back_ios"></mat-icon>
      <mat-icon aria-hidden="false" *ngIf="drawerToggled" aria-label="arrow_forward_ios icon" fontIcon="arrow_forward_ios"></mat-icon>
    </button>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
