<div class="main position-relative">
  <pwa></pwa>

  <mat-drawer-container autosize>
    <mat-drawer #drawer [mode]="mode" class="sidebar">
      <sidebar (uploaded)="drawer.toggle()"></sidebar>
    </mat-drawer>
  
    <header></header>
    
    <button class="white" id="drawer-toggler" type="button" mat-stroked-button (click)="drawer.toggle(); drawerToggled = !drawerToggled">
      <mat-icon aria-hidden="false" aria-label="menu icon" fontIcon="menu"></mat-icon>
    </button>
  
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</div>