.sidebar-content {
    min-width: 250px;
    max-width: 300px;
    height: 100%;
    background-color: var(--text-accent-lighter-color);

    a {
        width: 100%;
        text-decoration: none;
        display: flex;
        justify-content: start;
        align-items: center;
        color: var(--accent-color);
        transition: all .3s ease-in-out;
        word-break: break-word;
        hyphens: auto;
        
        &:hover {
            color: var(--accent-lighter-color);
        }

        span {
            padding: 0 .5rem;
        }
    }

    .sidebar-buttons {
        padding: 2rem;
    }
}