
.quiz-content {
    .quiz-link {
        display: block;
    }
}

::ng-deep {
    .mat-button-wrapper {
        pointer-events: none;
        hyphens: auto;
        white-space: break-spaces;
        word-break: break-word;
    }
}